[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.7.1"
flask-restplus = "==0.12.1"
python-dotenv = "*"
Werkzeug = "==0.14.1"
flask = "==1.0.2"
numpy = "*"
nltk = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
